span{
    margin-left: 40px;
}

button{
    color: blue;
    margin-left: 35px;
    border-radius: 5px;
    border: none;
}
p{
    /* margin-left: -300px; */
    color: brown;
}
#likes{
    margin-left: 50px;
}
#dislikes{
    margin-left: 60px;
}
#counter{
    margin-left: 15px;
}